<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            使用 <a href="http://hexo.io/" target="_blank">Hexo</a> 构建. 主题来自 <a href="http://github.com/ppoffice">PPOffice</a>
            <br />
            <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_site_pv" style="color: #009688; font-weight: bold; font-size: 1.3em;">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
            访客数 <span id="busuanzi_value_site_uv" style="color: #009688; font-weight: bold; font-size: 1.3em;"></span> 人次
        </div>
    </div>
</footer>